<ul class="robotslist">
    <% list(robots, function(robot){%>
        <li class="robot" <%= (el)->el.data('robot', robot) %>>
                <%== can.view.render('views/robotView.ejs', {
                        robot: robot
                }) %>
        </li>
    <% }) %>
</ul>