<a href="javascript://" class="removelink">Remove</a>
<form>
    <div class="row">
        <div class="large-3 columns">
            <img src="" width="100" height="100">
        </div>
        <div class="large-3 columns">
            <input type="text" name="name" placeholder="Add name"
                <%= robot.attr('name') ? "value='" + robot.name + "'" : "class='empty'" %>>
        </div>
        <div class="large-3 columns">
            <input type="text" name="type"
                <%= robot.attr('type') ? "value='" + robot.type + "'" : "class='empty'" %>>
        </div>
        <div class="large-3 columns">
            <input type="text" name="year"
                <%= robot.attr('year') ? "value='" + robot.year + "'" : "class='empty'" %>>
        </div>
    </div>
 </form>